* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(to bottom, #0b3d0b, #1a1a1a);
  color: #000000;
  line-height: 1.6;
}

header {
  background-color: #102010;
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid #fff422;
  transition: transform 0.3s;
}
header {
  background-color: #102010;
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid #fff422;
  transition: transform 0.3s;
}

header h1 {
  font-size: 3em;
  color: #4caf50;
  text-shadow: 2px 2px #fff422;
}

header p {
  font-size: 3em;
  color: #fff422;
  text-shadow: 2px 2px #910808;
}

nav {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  padding: 10px;
}

nav a {
  color: #fff422;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #4caf50;
  text-shadow: 2px 2px #910808;
}

main {
  padding: 40px;
  background-image: url('https://www.transparenttextures.com/patterns/dark-mosaic.png');

}

.card {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px #000;
  transition: transform 0.3s;
  color: #4caf50;
  font-family: 'Caesar Dressing', cursive;
  background: linear-gradient(135deg, #4caf50 0%, #fff422 50%, #910808 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.card:hover {
  transform: scale(1.03);
  background-color: #4caf50;
}


.card h2 {
  color: #fff422;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.1em;
}

footer {
  background-color: #101010;
  color: #888;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #fff422;
}