body {
      margin: 0;
      padding: 0;
      font-family: 'Trebuchet MS', sans-serif;
      background-color: #101010;
      color: #f5f5f5;
    }

    header {
      padding: 60px 20px;
      text-align: center;
      background-image: url('https://www.jurassic-park.fr/images/fond.jpg');
      background-size: cover;
      background-position: center;
      color: #fff;
      text-shadow: 2px 2px 8px #000;
    }

    header h1 {
      font-size: 3em;
      margin-bottom: 10px;
    }

    nav {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  padding: 10px;
}

nav a {
  color: #e0b13f;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s;
  text-shadow: 2px 2px #000000;
}

nav a:hover {
  color: #ffffff;
  text-shadow: 1px 1px #e0b13f;
}

    section {
      padding: 40px 20px;
      max-width: 900px;
      margin: auto;
      border-bottom: 1px solid #333;
    }

    section h2 {
      color: #e0b13f;
      font-size: 2em;
      margin-bottom: 20px;
    }

    .map-container {
      text-align: center;
    }

    .map-container img {
      width: 100%;
      max-width: 600px;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
      margin-bottom: 15px;
    }

    .map-container p {
      font-size: 1em;
      color: #ccc;
    }

    footer {
      background-color: #181818;
      color: #aaa;
      text-align: center;
      padding: 20px;
      font-size: 0.9em;
    }